@font-face {
    font-family: 'eduonline';
    src: url("eduonline.ttf"), url("eduonline.woff") format("woff"), url("eduonline.ttf") format("truetype"), url("eduonline.svg#eduonline") format("svg");
    font-weight: normal;
    font-style: normal;
}